<div class="col-sm-10 text-center mx-auto mt-5">
    <h1>New Research</h1>
    <form class="mt-5" [formGroup]="form">
        <h3 class="text-danger" *ngIf="form.touched && formInvalid">Error</h3>
        <p>
            <mat-form-field class="w-25" appearance="standard">
                <mat-label>Research Name</mat-label>
                <input formControlName="research_name" id="research_name" matInput>
                <mat-hint>Required</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="w-25" appearance="standard">
                <mat-label>Description</mat-label>
                <textarea formControlName="description" id="description" matInput rows="10"></textarea>
                <mat-hint>Optional</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="w-25" appearance="fill">
                <mat-label>Agent Behavior</mat-label>
                <mat-select formControlName="agent_bahavior" id="agent_bahavior">
                    <mat-option [value]="1">
                        Optimal
                    </mat-option>
                    <mat-option [value]="2">
                        Sub Optimal
                    </mat-option>
                </mat-select>
                <mat-hint>Required</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="w-25" appearance="standard">
                <mat-label>Start Time</mat-label>
                <input formControlName="start_time" id="start_time" type="datetime-local" matInput>
                <mat-hint>DD/MM/YYYY</mat-hint>
            </mat-form-field>
        </p>
        <button class="mt-4" mat-raised-button color="submitBtn" (click)="submit()">Submit</button>
    </form>
</div>