<div class="text-center mt-5">
    <h2>Login</h2>
    <form [formGroup]="form">
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Username</mat-label>
                <input id="username" formControlName="username" matInput>
                <mat-hint>Letters only</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Password</mat-label>
                <input id="password" type="password" formControlName="password" matInput>
                <mat-hint>8-12 characters password</mat-hint>
            </mat-form-field>
        </p>
        <button class="mt-4" mat-raised-button color="submitBtn" (click)="submit()">Login</button>
    </form>
</div>