<h1>Hello {{firstname}}</h1>
<div class="row justify-content-md-center border-bottom">
    <div class="col-md-3 text-center">
        <button class="mt-4" mat-raised-button color="Primary" (click)="createResearch()">Create Research</button>
    </div>
    <div class="col-md-3 text-center">
        <mat-form-field appearance="standard">
            <mat-label>Research Name</mat-label>
            <input id="researchname" [(ngModel)]="search_filter" (ngModelChange)="onSearchChange($event)" matInput>
        </mat-form-field>
    </div>
    <div class="col-md-3 text-center h4">
        <span class="my-auto">Total: {{researches.length}}</span>
    </div>
</div>
<div class="mt-3" *ngIf="researches">
    <div class="mt-3 " *ngFor="let research of researches_filtered; let i = index">
        <div class="col-md-6 mx-auto">
            <a [routerLink]="['/research/',research.id]" style="cursor: pointer;"
                class="list-group-item clearfix border border-dark rounded bg-light text-dark link-hover">
                <h4 class="list-group-item-heading">{{research.research_name}}</h4>
                <p class="list-group-item-text" *ngIf="research.research_description">{{research.research_description}}
                </p>
                <p class="list-group-item-text" *ngIf="!research.research_description">No description provided</p>
                <p class="list-group-item-text">Number of participants: {{research.participants.length}}</p>
                <p class="list-group-item-text">Start time: {{research.game_configuration.start_time | date:'medium'}}
                </p>
            </a>
        </div>
    </div>
</div>
<div class="mt-5" *ngIf="researches.length == 0">
    <p>No researches, create a new one.</p>
</div>
<ng-container *ngIf="spinnerService.loading$ | async">
    <div class="overlay"></div>
    <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</ng-container>