<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

<div class="row text-center">
    <div *ngIf="centrality" class="text-center  col-sm-4 border-bottom mt-3 ">
        <div class="text-secondary h5">Betweens</div>
        <div class="h5">{{centrality.name}} : {{centrality.value.toFixed(5)}}</div>
    </div>
    <div *ngIf="networkData?.density" class="text-center  col-sm-4 border-bottom mt-3 ">
        <div class="text-secondary h5">Density</div>
        <div class="h5">{{networkData.density}}</div>
    </div>
    <div *ngIf="networkData?.diameter" class="text-center  col-sm-4 border-bottom mt-3 ">
        <div class="text-secondary h5">Diameter</div>
        <div class="h5">{{networkData.diameter}}</div>
    </div>
    <div *ngIf="networkData?.radius" class="text-center  col-sm-4 border-bottom mt-3 ">
        <div class="text-secondary h5">Radius</div>
        <div class="h5">{{networkData.radius}}</div>
    </div>
    <div *ngIf="networkData?.reciprocity" class="text-center  col-sm-4 border-bottom mt-3 ">
        <div class="text-secondary h5">Reciprocity</div>
        <div class="h5">{{networkData.reciprocity}}</div>
    </div>
    <div *ngIf="networkData?.edges_count" class="text-center  col-sm-4 border-bottom mt-3 ">
        <div class="text-secondary h5">Edges Count</div>
        <div class="h5">{{networkData.edges_count}}</div>
    </div>
    <div *ngIf="networkData?.node_count" class="text-center  col-sm-4 border-bottom mt-3 ">
        <div class="text-secondary h5">Node Count</div>
        <div class="h5">{{networkData.node_count}}</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6  d-flex align-items-center justify-content-center">
        <button class=" btn btn-primary" (click)="exportCSV()">DOWNLOAD CSV</button>
    </div>
    <div class="col-sm-6">
        <p>
            <mat-form-field class="w-50 mt-5" appearance="fill">
                <mat-label>Filter Rounds</mat-label>
                <mat-select id="agent_bahavior" [(value)]="filter" (selectionChange)="filterData()">
                    <mat-option [value]="0">
                        All Rounds
                    </mat-option>
                    <mat-option [value]="1">
                        Round 1
                    </mat-option>
                    <mat-option [value]="2">
                        Round 2
                    </mat-option>
                    <mat-option [value]="3">
                        Round 3
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
    </div>
    <div class="col-sm-6">
        <p>
            <mat-form-field class="w-50 mt-5" appearance="fill">
                <mat-label>Network Edges</mat-label>
                <mat-select id="agent_bahavior" [(value)]="directed" (selectionChange)="filterData()">
                    <mat-option [value]="0">
                        Directed
                    </mat-option>
                    <mat-option [value]="1">
                        Undirected
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
    </div>
</div>


<p class="mt-5 h1">interactions Network</p>
<div id="mynetwork">
</div>
<div class="text-center h5">
    <div class="text-danger">Red - Trivial Messag</div>
    <div class="text-success">Green - Common knowledge</div>
    <div class="text-primary">Blue - Hidden Knowledge</div>
</div>


<ng-container *ngIf="spinnerService.loading$ | async">
    <div class="overlay"></div>
    <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</ng-container>