/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body,
app-root {
    height: 100%;
}

body {
    margin-bottom: 0;
    margin-top: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-submitBtn {
    color: green;
    background-color: green;
    color: #fff;
}

.content-outer-container {
    min-height: 100%;
}

.my-container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    backdrop-filter: blur(2px);
}

mat-progress-spinner {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
